.services:before {
    background: url(https://uploads.pl-internal.com/NWE5NzY4MzQtN2YyNi00OTE2LWI3ODctMmY4N2Q0MmRkNTBj/content/2021/02/uhaul-movers.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.areas {
    margin-top: 2.2em;
}